<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/login.css">
</head>
<body>
    <form action="/verify" method="post" id="form">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="abc@gmail.com">
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Sign in" id="submit" name="submit">
    </form>
</body>
</html>