<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/signup.css">
</head>
<body>
    <form action="/submit" method="post" id="form">
    <label for="name">Name</label>
    <input type="text" id="name" name="name">
    <br>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="abc@gmail.com">
    <br>
    <label for="mobNo">Mobile Number</label>
    <input type="tel" id="mobNo" name="mobNo" placeholder="Mobile Number must be of 10 digits">
    <br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="At least 8 characters">
    <input type="submit" value="Sign Up" id="submit" name="submit">
    </form>
</body>
</html>